*{
    margin:0;
    padding:0;
    list-style: none;
}
body{
    text-align: center;
    background-color: #ddd;
    position: relative;
}
.filterSection{
    margin: 20px auto;
    width:80%;
    background-color: white;
    border-radius: 3px;
}
.filterSection select{
    width:30%;
    margin : 15px 30px;
    font-size: 1.5rem;
    background-color: #ddd;
}
.container{
    color:white;
    margin:auto;
    width:80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}
.restaurant{
    border-radius:3px;
    transition: 0.3s;
    box-shadow: #aaa 5px 5px;
    position: relative;
}
.restaurant:hover{
    transform: scale(1.05);
    background: filter(2);
}
.restaurant:hover .desc{
    text-align: left;
    display:block !important;
}
.restaurant:hover .townTag{
    top:50% !important;
    transition: 0.3s;
}
.restaurant:hover .nameTag{
    top:60% !important;
    transition: 0.3s;
    border-bottom: 3px solid white;
}
#loading{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
#loading p{
    color:black;
    border: none;
    box-shadow: none;
}

@media screen and (max-width: 1200px) {
    .restaurant{
        width:45% !important;
    }
}

@media screen and (max-width: 762px) {
    .restaurant{
        width:100% !important;
    }
    .filterSection select{
        width:80% !important;
    }
}